---
layout: default
---

<object data="/assets/pdf/Christianson_cv.pdf" type="application/pdf" width="100%" height="600px">
  <p>Download the CV PDF to view it:
  <a href="/assets/pdf/Christianson_cv.pdf">Download PDF</a>.</p>
</object>
